#app{
  height:90vh;
	
	/* background-color:red; */
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.button_day{
  background-color: black;
  color:white;
}
#swap{
	padding:10px;
	/* background-color:blue; */
	border-radius:10px;
	text-align:center;
	
}

#theme-toggle:checked ~ #app{
	background-color:black;
	color:white;
}
#theme-toggle:checked ~ #app #swap{
	background-color:white;
	color:black;
	padding:10px;
	cursor:pointer;
	
	
}

#swap{
  outline:0;
}

.button_night{
  background-color:blue;
  color:white; 
}
